#testimoals {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimoals .section-subtitle {
    font-size: 2rem;
}

#testimonials_content {
    width: 50%;

}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimoals .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

